
#contatti{
    background-color: #70c3be;
    letter-spacing: 2px;
    padding-top: 10px;
    }
    
  #contatti a{
    color: #fff;
    text-decoration: none;
  }
  
  #author a{
    color: #fff;
    text-decoration: none;
      
  }

  