<!--div class="row" style="background-color: black ;padding: 20px">
    <h3 style="margin: 0 auto">footer</h3>
</div-->

  <!-- Site footer -->
  <footer class="site-footer" style="margin-top:30px;text-align: right" dir="rtl" >
    <div class="container">
      <div class="row">
        <div class="col-sm-7" >
          <h6>تفاصيل</h6>
          <p class="text-justify">
            
              سكني هو برنامج مخصص للمواطن بالدرجة الأولى 
              ، لتسهيل الحصول على الحلول السكنية المتنوعة من خلال خطوات سهلة وسلسة. 
              وذلك لرفع نسبة التملك للمواطنين المسجلين في قوائم وزارة الإسكان وصندوق التنمية العقارية 
              . تكون هذه الحلول بالشراكة مع القطاع الخاص والجهات التمويلية،
               وذلك لتسريع عملية الحصول على المسكن الأول.   
          </p>
        </div>

        <div class="col-sm-2" style="padding-right: 10px;padding-bottom: 5px;">
          <h6 style="">لينكات سريعه</h6>
          <ul class="" style="list-style-type: none;margin: 0px;padding: 0px;">
            <li><a routerLink="/aboutUs">معلومات عنا</a></li>
            <li><a routerLink="/contactUs">التواصل معنا</a></li>
            <li><a routerLink="/loginUser">التسجيل</a></li>
            <li><a href="#">السياسات والخصوصيه</a></li>
            <li><a href="#distinctFlatsSection">العقارات المميزه</a></li>
            <li><a href="#searchForFlatsSection"> البحث عن عقار </a></li>
          </ul>
        </div>

        <div class="col-sm-3">
          <h6>أجرلي</h6>
          <i class="fas fa-phone mt-3"></i> <a href="#">(+02) 01017431767</a><br>
          <i class="fas fa-phone mt-3"></i> <a href="#">(+02) 01551665460</a><br>
          <i class="fa fa-envelope mt-3"></i> <a href="#">ali.gamal95880@gmail.com</a><br>
          <i class="fas fa-globe mt-3"></i> Piazza del Colosseo, 1, 00184 Roma
        </div>

      </div>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
              كافة الحقوق محفوظة لوزارة الإسكان © 2019
       <a href="#">معهد تكنولوجيا المعلومات بأسيوط</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>