img {
  width: 350px;
  height: 350px;
}

.row
{
    margin-left: 0%;
    margin-right: 0%;
}

.badge {
  width: 40%;
  margin: auto;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  font-style: oblique;
  font-family: monospace;
}

h4 {
  margin: 0;
}

img {
  width: 250px;
  height: 250px;
}

.nameAbove {
  font-weight: bold;
  font-style: italic;
  font-family: serif;
  font-size: 22px;
  margin: 10px 5px 20px 0px;
}

.name {
  font-weight: bold;
  font-style: italic;
  font-family: serif;
  font-size: 22px;
  margin: 10px 0px 20px 0px;
}


.username
{
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  font-size: 100%;
}
.phone {
  font-weight: bold;
  font-style: italic;
  font-family: sans-serif;
  font-size: 22px;
}