<div class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">فريق العمل </h1>
  </div>
</div>
<div class="container" dir="rtl">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0">
        <div class="card-body text-center ali">
          <div class="ali-body">
              <h5 class="card-title mb-0"> علي جمال </h5>
              <div class="card-text ">Web Developer</div>
              <ul class="list-unstyled">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter  "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin "></i>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0">
        <div class="card-body text-center alaa">
         
          <div class="alaa-body">
              <h5 class="card-title mb-0">علاء نعيم </h5>
              <div class="card-text ">Web Developer</div>
              <ul class="list-unstyled">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook  "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter  "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin "></i>
                  </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0">
        <div class="card-body text-center bhaa">

          <div class="bhaa-body">
              <h5 class="card-title mb-0"> بهاء أبراهيم </h5>
              <div class="card-text ">Web Developer</div>
              <ul class="list-unstyled">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook  "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter  "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin "></i>
                  </a>
                </li>
              </ul>
              
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4 cardx">
      <div class="card border-0">
        <div class="card-body text-center esraa">

          <div class="esraa-body">
              <h5 class="card-title mb-0"> إسراء كامل </h5>
              <div class="card-text ">Web Developer</div>
              <ul class="list-unstyled text-center">
                <li>
                  <a href="#">
                    <i class="fab fa-facebook "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter  "></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-linkedin "></i>
                  </a>
                </li>
              </ul>
              
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>