.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .headDetails
  {
    text-align:center;margin-top: 20px;
    font-size:3vw;
  }
  

  .postDetails{

    font-size:2.5vw;
  }