<h2 class="headDetails">تفاصيـــــل العقـــار</h2>
<br>
<div class="card">
  <img src="{{post.ImageUrl}}" alt="no image" style="width:100%" class="marginTop">
  <h1 class="marginTop headDetails">شـــقه للإيجـــار</h1>
  <h3 class="marginTop "> تاريخ النشر : {{post.Date}}</h3>
  <h3 class="marginTop"> السعر : {{post.Price}} جنية</h3>
  <h3 class="marginTop"> المساحه : {{post.Area}} متر </h3>
  <h3 class="marginTop"> عدد الاسره : {{post.NumberOfBeds}} </h3>
  <h3 class="marginTop"> عدد المتاح من الاسره :  {{post.Available_NumberOfBeds}}	</h3>
  <h3 class="marginTop "> تفاصيل العقار : {{post.Details}}</h3>
  <h3 class="marginTop "> رقم موبايل  : {{ownerOfPost.phone}}</h3>
</div>